doctype 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')
	head
		title MHacks
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		style
			body {
				color:@blue;	
				background: url("http://www.mhacks.org/img/texture.png") repeat center;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
			.logo img {
				width: 110px;
			}
			.container {
				margin: 20px;
			}
	body
		.container
			h3 Hello #{name}! 
			h2 Thank you for signing up for mHacks!

			p We'll see you on February 1-3, 2013 at 
				a(href="https://maps.google.com/maps/ms?msa=0&msid=213641796391042690596.0004867c348a1f7a831a9&ie=UTF8&ll=42.282048,-83.733737&spn=0.002056,0.003916&t=m&z=17&vpsrc=0&iwloc=0004867c348c607831eba&f=d&daddr=Palmer+Dr+%4042.280286,-83.733743")
					| Palmer Commons
				|  in Ann Arbor.
			p If you're coming from out-of-state please reach out us at 
				a(href='mailto:hackathon@umich.edu?Subject=Transportation%20to%20MHacks%20Inquiry') hackathon@umich.edu
				|  for transportation help. 
				| <br> We're doing our best to provide free transportation to all who come.

			p Stay tuned for more updates as we get closer to the event.

			br
			p Happy Hacking,
			

			.signature	
				h3 mHacks </br>
					a(href='mailto:hackathon@umich.edu?Subject=Transportation%20to%20MHacks%20Inquiry') hackathon@umich.edu
				
				a.logo(href="http://www.mhacks.org")
					img(src="http://www.mhacks.org/img/logo.png")
				a(href="http://facebook.com/MHacksHackathon", target="_blank")
					img(src="http://www.mhacks.org/img/facebook.png") 
				a(href="http://twitter.com/mgohack", target="_blank")
					img(src="http://www.mhacks.org/img/twitter.png")
					
						
			.about
						
				