!!! 5
html
	head
		title MHacks
		style
			body {
				color: rgb(19,71,125);	
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
			.container {
				margin: 20px;
			}
	body
		.container
			h2 Hello #{name}! 
			h2 Thank you for signing up for MHacks!

			p We'll see you on Sept. 20-22, 2013 at 
				a(href="http://www.mgoblue.com/facilities/michigan-stadium.html")
					| The Big House
				|  in Ann Arbor.
			
			p Stay tuned for more updates as we get closer to the event and invite your friends to 
				a(href="http://www.mhacks.org") MHacks
				|  by sharing our website! 
			br
			p Happy Hacking,
			p The MHacks Team <br>
				a(href='mailto:hackathon@umich.edu?Subject=MHacks Fall 2013') hackathon@umich.edu
			
			hr		
			p P.S. If you're coming from out-of-state please reach out us at 
				a(href='mailto:hackathon@umich.edu?Subject=Transportation%20to%20MHacks%20Inquiry') hackathon@umich.edu
				|  for transportation help. 
				| <br> We're doing our best to provide free transportation to all who come.
	