extends layout

block content
	.main
		h1 What is MHacks? 

		p blah blah
	.secondary
		h2 Who are the Michigan Hackers?
		
		p Michigan Hackers is a technical student organization, primarily aimed at EECS majors in the College of Engineering. 
		
		p Our mission is to foster a community of individuals at the University who solve problems through the innovative use of technology.  We're working to bring the "hacker" culture to Michigan. 		
		p More simply put, we build "stuff." 
		
