extends layout

block content
	h2 Students 
	
	p Interested in joining Michigan Hackers?  <a href="http://michiganhackers.org/">Check out our website to signup.</a>
	p Have a question about the hackathon?  Drop us a line at <a href="mailto:mhacks@michiganhackers.org">mhacks@michiganhackers.org</a>
		
	.secondary
		h2 Sponsors
		p If you're interested in sponsoring this hackathon, please get in touch with us at <a href="mailto:sponsors@michiganhackers.org">sponsors@michiganhackers.org</a>

