
h2 faq
h4.question how do i get there?
.ans.hide we want mhacks to be affordable for students all across the country and canada to attend.  we will be looking into affordable travel options to get you here.  additionally, we are looking to send buses to the schools that show the most interest.  to inquire about buses, travel subsidies, or other affordable travel options, please feel free to contact

h4.question is it safe to hack for 36 hours straight at mhacks?
.ans.hide yes; but you have to know how to take care of your body. students ought to take naps if needed. there will be comfortable and quiet rooms for students to sleep. at the event, there will also be lots of healthy food and beverages for individuals to maintain a level of healthiness.

h4.question what food will be served at mhacks?
.ans.hide we will serve a variety of food from pasta and sandwiches for meals and also have snacks and beverages available around the clock. we will have appropriate vegetarian and gluten-free options as well.

h4.question what if i have a food allergy?
.ans.hide please email hackathon@umich.edu to let us know your food allergy and we can set aside allergenic-free food for you.

h4.question what if i'm not a student, can i participate?
.ans.hide we only allow university students to participate; that includes undergraduates and graduates of 2-4 year institutions.

h4.question what are the parking options for the event?
.ans.hide we are looking into accommodations to gain access to a lot for free parking. we will definitely provide feasible and affordable options for parking cars. more details to come soon!
