!!! 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')

	head
		title MHacks
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		meta(property='og:title', content='MHacks')
		meta(property='og:url', content='http://mhacks.org')
		meta(property='og:image', content='http://mhacks.org/img/logo_sq.png')
		meta(property='og:description', content='MHacks - the biggest college hackathon ever.')

		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
		script(src="/js/main.js")
		script(src="/js/holder.js")
		
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-20831199-11']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='#home') MHacks Fall '13
					.nav-collapse.collapse
						ul.nav
							
							li
								a(href='#info') Info
							li
								a(href='#signup') Signup
							li
								a(href='#sponsors') Sponsors
							li
								a(href='#schedule') Schedule
							li
								a(href='#faq') FAQ

		.container.main
			
			section#home
				.header
					span.jumbo Big House.
					br
					span.jumbo Big Data.
			
			section#info
				span.jumbo mhacks.
				br
				span.big sept 20-22
				.well
					h3 The largest student-run 
						em hackathon
						|  meets the college's best 
						em stadium
						| !
					h4 MHacks is known for top-notch hacks, awesome food, and amazing prizes.
					h4 Totally Free - We'll do our best to get you to the Big House!
			section#signup
				include signup
		
			.foot
				.social
					a(href="http://facebook.com/MHacksHackathon", target="_blank") 
						img(src="/img/facebook.png")
					a(href="http://twitter.com/mhacks", target="_blank")
						img(src="/img/twitter.png")
				
				.clubs
					a(href="http://www.michiganhackers.org") Michigan Hackers
					|  + 
					a(href="http://mpowered.umich.edu/") MPowered

				

			//-.left-bar
				a.logo(href="/")
					img(src="img/logo.png")
				h2 mhacks
				h4 sept. 20-22, 2013 - ann arbor
				
				include signup
				
				.social
					a(href="http://facebook.com/MHacksHackathon", target="_blank") 
						img(src="/img/facebook.png")
					a(href="http://twitter.com/mhacks", target="_blank")
						img(src="/img/twitter.png")

						
			//-.span7.about
				.nav.row-fluid 
					a.navlink.pull-left.visible-desktop(href="#home") mhacks
					a.navlink(href="#info") info
					a.navlink(href="#faq") faq
					a.navlink(href="#schedule") schedule
					a.navlink(href="#sponsors") sponsors
				.main
					#home.tab
						
						h1 36 hours of hacks
						h3 the largest hackathon in the midwest
						h4 300+ students from the US and Canada
						
						h4 
							a(href='mailto:mhacks-hackathon@umich.edu?Subject=Transportation%20to%20MHacks%20Inquiry') transportation funding
						h4 awesome prizes
						//-include ticker
						
					#info.tab.hide
						include info
					#schedule.tab.hide
						include schedule
					#faq.tab.hide
						include faq
					#sponsors.tab.hide
						h3 want to see your company logo here?
						a(href="/docs/sponsors.pdf")
							h4 download the sponsor docs
				
				hr
				.foot.pull-right
					a(href="http://www.michiganhackers.org") michigan hackers
					|  + 
					a(href="http://mpowered.umich.edu/") mpowered
