h2 info
h4
	a(href="https://maps.google.com/maps/ms?msa=0&msid=213641796391042690596.0004867c348a1f7a831a9&ie=UTF8&ll=42.282048,-83.733737&spn=0.002056,0.003916&t=m&z=17&vpsrc=0&iwloc=0004867c348c607831eba&f=d&daddr=Palmer+Dr+%4042.280286,-83.733743")
		| palmer commons
h4 university of michigan - ann arbor
h5 36-hours straight: february 1st - 3rd, 2013 


p teams of 1-5 people
p students from across the country
p compete to build awesome hacks
p best hacks win prizes

