h2 info

h4 university of michigan - ann arbor
| palmer commons 
h5 february 1st - 3rd, 2013
h5 36-hours straight 

h2 details
p teams of 1-5 people
p students from across the country
p compete to build awesome hacks
p best hacks win prizes

