
p who: hackers
p what: hackathon
p where: university of michigan, palmer commons
p when: february 1-3rd, 2013
p why: build something

p Email 
  a(href='mailto:mhacks-hackathon@umich.edu', target='_blank') hackathon@umich.edu 
  | to inquire about FREE transportation for large student groups.    

h2 Hackathons are where it all begins: 
ul 

  li 36-hours straight 
  li teams of 1-5 people
  li ideas collide with execution
 
  li students from across the country
  li compete to build awesome hacks
  li best hacks win prizes


h2 FAQ
h3.question How do I get there?
.ans We want MHacks to be affordable for students all across the country and Canada to attend.  We will be looking into affordable travel options to get you here.  Additionally, we are looking to send buses to the schools that show the most interest.  To inquire about buses, travel subsidies, or other affordable travel options, please feel free to contact

h3.question Is it safe to hack for 36 hours straight at MHacks?
.ans Yes; but you have to know how to take care of your body. Students ought to take naps if needed. There will be comfortable and quiet rooms for students to sleep. At the event, there will also be lots of healthy food and beverages for individuals to maintain a level of healthiness.

h3.question What food will be served at MHacks?
.ans We will serve a variety of food from pasta and sandwiches for meals and also have snacks and beverages available around the clock. We will have appropriate vegeterian and gluten-free options as well.

h3.question What if I have a food allergy?
.ans Please email hackathon@umich.edu to let us know your food allergy and we can set aside allergenic-free food for you.

h3.question What if I'm not a student, can I participate?
.ans We only allow University students to participate; that includes undergradutes and graduates of 2-4 year institutions.

h3.question What are the parking options for the event?
.ans We are looking into accomodations to gain access to a lot for free parking. We will definitely provide feasible and affordable options for parking cars. More details to come soon!


div http://facebook.com/MHacksHackathon
div http://twitter.com/mgohack