doctype 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')


	head
		title MHacks
		//meta(property='og:image', content='http://www.hackmichigan.com/img/mhacks.png') 

		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src="/js/jquery.min.js")
		script(type="text/javascript")
		

		// add page tracker

	body
		.container
			.nav
				.pull-left
					a(href="/") MHacks
				.pull-right
					a.link(href="/prizes") prizes
					a.link(href="/schedule") schedule
					a.link(href="/sponsors") sponsors
					a.link(href="/contact") contact

			.row-fluid
				block content

		.container
			p.foot Brought to you by 
				a(href="http://www.michiganhackers.org") Michigan Hackers
				|  and 
				a(href="http://www.michiganhackers.org") MPowered.
			p.left
					a(href="https://www.facebook.com/michiganhackers"): img(src="img/facebook.png")
					a(href="https://twitter.com/MichiganHackers"): img(src="img/twitter.png")
