extends layout

block content
	h1 Main Prizes
	p We're giving away over 3 grand in cash prizes.
	ul.main_prizes
		li
			h3 First place
			span.cash $1500
		li
			h3 Second place
			span.cash $750
		li
			h3 Third place
			span.cash $500

	h2.break Other prizes
	p Of course, there are other hacks that won't win but deserve to be recognized.  Below are the categories for additional prizes.

	h3 Most Techincal (Sponsored by COE)
	p $250 goes to the team with the most technically complicated hack.
	
	h3 Best Underclassmen Hack 
	p $250 to the team of underclassmen (freshmen, sophomores) who put together a killer hack!
	
	h3 People's Choice Award 
	p $250 to the most popular hack!
	
	h3 TBD (Sponsored by ReadyForce)
	p Coming soon.

		
