extends layout

block content
	h1 Schedule
	p Unfortunately our developers don't believe in NTP; Due to clock differences and such, the actual schedule may differ slightly.  Either way, we have 20 hours of solid hack lined up for you guys. 
	
	h2 Friday
	
	table.schedule
		tbody
			tr
				td 5:30pm
				td Opening Ceremony
			tr
				td 6:00pm
				td Team building and dinner
			tr
				td 6:30pm
				td Hacking begins 

	h2 Saturday
	
	table.schedule
		tbody
			tr
				td 12:00am
				td Midnight snacks (available all night)
			tr
				td 7:00am
				td Continental Breakfast, served fresh for you by Cafe MH
			tr
				td 12:00pm
				td Lunch
			tr
				td 2:30pm
				td Hacking ends and presentations start
			tr
				td 4:00pm
				td Presentations end
			tr
				td 4:30pm
				td Awards! 
