h3 Friday, February 1  
 
h5 6:00PM-9:00PM
p Registration, networking and social events
h5 9:00PM-11:00PM
p Dinner, keynote speaker and and explanation of rules
h5 11:00PM
p MHacks 36-hour hackathon begins 
 
 
h3 Saturday, February 2 
 
p Hacking continues all day
 
 
h3 Sunday, February 3
h5 11:00AM 
p Hacking ends 
h5 12:00PM-2:00PM 
p Expo showcasing open to public 
h5 2:00PM-4:00PM 
p Top hackers present and winners announced 