form.signup
	input.name.badInput(type="text", name="name", placeholder="name", autofocus="autofocus")
	input.email(type="email", name="email", placeholder="email@university.edu")
	button.hide(type="submit") i'll be there	