form.signup
	input.name.badInput(type="text", name="name", placeholder="name", autofocus="autofocus", required="required" )
	input.email(type="email", name="email", placeholder="email@university.edu", required="required")
	button(type="submit") sign me up
