
span.big Sign Up:
form.signup.well

	h4 All students are welcome, as long as you're ready to hack!
	input.name(type="text", name="name", placeholder="Name")
	input.email(type="email", name="email", placeholder="email@university.edu")
	input.school(type="hidden", name="school", placeholder="School")

	button(type="submit", disabled="true") I'll Be There
