
span.big Sign Up:
form.signup.well

	h4 Signup is open for all students - around the world.
	input.name(type="text", name="name", placeholder="Name")
	input.email(type="email", name="email", placeholder="email@university.edu")
	input.school(type="hidden", name="school", placeholder="School")

	button(type="submit", disabled="true") I'll Be There
