
form.signup
	span.big MHacks Signup:
	br
	input.name.badInput(type="text", name="name", placeholder="name")
	input.email(type="email", name="email", placeholder="email@university.edu")
	button(type="submit", disabled="true") sign me up
