
span.big Sign Up:
form.signup.well

	h4 Signup is open for all students - around the world.
	input.name.badInput(type="text", name="name", placeholder="name")
	input.email(type="email", name="email", placeholder="email@university.edu")
	button(type="submit", disabled="true") I'll Be There
