extends layout

block content
	h1 Sponsors 
		
	h2 Want your name here?
	
	p We'd love to have you sponsor our hackathon.  Michigan Hackers has several different sponsorship levels, each with their own perks.
	p If you're interested in adding your name to our list of sponsors, email us at <a href="mailto:sponsors@michiganhackers.org">sponsors@michiganhackers.org</a>
	
	table.prettytable
		thead
			tr
				td
				th Diamond 
				th Emerald 
				th Gold 
		tbody
			tr
				th Sponsorship Level
				td $2500+
				td $1000+ 
				td $500+ 
			tr
				th Award Status 
				td Specify a $250 branded prize and send a judge to select a winner
				td Contribute to the overall prize pool 
				td Contribute to the overall prize pool 
			tr
				th Brand Presence 
				td
					ul
						li Option to speak at award ceremony
						li Top sponsor can have an optional keynote at the opening ceremony
						li All perks from Emerald
				td
					ul
						li Logo on shirt
						li Paragraph explaining company's or organization's mission
						li All perks from Gold
				td
					ul
						li Logo on website
