ul.unstyled.ticker
	li
		img(src="js/holder.js/200x100/text:one")
	li
		img(src="js/holder.js/200x100/text:two")
	li
		img(src="js/holder.js/200x100/text:three")
	li
		img(src="js/holder.js/200x100/text:four")

