body {
  color: #13477d;
  background: url("/img/texture.png") repeat center;
  padding-top: 40px;
}
.signup {
  margin: 0 auto;
  max-width: 310px;
  background: #ffffff url("/img/texture.png") repeat fixed center;
  text-align: center;
}
.foot {
  margin-bottom: 200px;
}
a {
  color: #13477d;
}
a:hover {
  text-decoration: none;
}
.date {
  font-size: 18px;
}
.about {
  margin-top: 70px;
}
.logo img {
  width: 100%;
}
.nav {
  width: 100%;
  background-color: rgba(90, 90, 90, 0.6);
  padding: 10px 0px;
  text-align: center;
}
.nav a {
  color: white;
}
.navlink {
  font-size: 20px;
  margin: 10px 5px;
  padding: 8px 15px 11px 15px;
  display: inline;
  cursor: pointer;
}
.navlink:hover {
  background: rgba(15, 45, 91, 0.8);
  color: white;
  text-decoration: none;
}
.button,
input[type=button],
input[type=submit],
button {
  border: 0px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.25em 0.5em;
  padding: 0.75em 2.5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #13477d;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
}
.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=text]:hover,
input[type=email]:hover,
button:hover {
  background-color: #5a5a5a;
  color: #FFF;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #FFF;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #FFF;
}
input[type=text],
input[type=email],
textarea {
  text-align: right;
  border-radius: 0px;
  background-color: #13477d;
  color: #FFF;
  margin: 0.25em 0;
  padding: 0.75em 1.3em;
  width: 70%;
  border: 0px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea {
  border: 0px;
  box-shadow: none;
  outline: none;
}
#searchform input[type=text] {
  width: 100%;
}
