@gray: rgb(90,90,90);
@hover: rgba(15,45,91,.8);
@color1: #FFC800;
@color2: rgb(19,71,125);

@grayTrans: rgba(90,90,90,.5);

@font-face {
	font-family: Gotham;
	src: url('/fonts/Gotham-Bold.otf');
}

html {
	  background: url(/img/Michigan_Stadium.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

body {
	font-family: Gotham, "Helvetica Neue",Helvetica,Arial,sans-serif;
	
	background: transparent;
	color:@color1;
	padding-top: 40px;
}

p {
	margin: 0 0;
}

.container {

}

.header {
	text-align: right;
}

.box {
	background: @color2;
	color: @color1;
}

.jumbo {
	.box;
	font-size: 90px;
	line-height: 110px;
	text-transform: uppercase;
	padding: 0px 7px;
	margin: 5px;
}

.big {
	.jumbo;
	font-size: 30px;
	line-height: 60px;
	padding: 3px 7px;
}


@media (max-width: 767px) { 

	.jumbo {
		font-size: 50px;
		line-height: 70px;
	}
}

a:hover {
	color: @gray;
	text-decoration: none;
}
.tab {
	text-align:right;
}

.clubs {
	.box;
	margin-bottom: 30px;
	padding: 10px;
	display: inline-block;

}

.social {
	margin: 15px;
	display: inline-block;
}

.social img {
	width: 55px;
}

.social img:hover,
.social img:focus{
	-webkit-filter: grayscale(1) opacity(.8)
}

.left-bar {
	margin:0 auto;
	max-width:310px;
	text-align: center;
}

.signup {
	margin-top: 100px;
}

a {
	color:@color1;
}

.date {
	font-size: 18px;
}

.ticker {
	white-space: nowrap;
	overflow: hidden;
	padding: 80px 10px 0px 10px;
	margin-bottom: 0px;
}

.ticker li {

	margin: 10px;
	display: inline;
}
.ticker img {
	max-height: 100px;
}

////
.main {
	min-height: 381px;
	overflow: auto;
	padding: 0 15px;
}

.question {
	cursor: pointer;
}

.logo img {
	width: 80%;
}

.nav {
	width:100%;
	background-color: @grayTrans;
	text-align: right;
}

.nav a {
	color: @color1;
}

.nav a:hover {
	text-decoration: none;
}

.navlink {
	font-size: 20px;
	padding: 11px 15px 11px 15px;
	display: inline-block;
	cursor: pointer;
}

.navlink:hover {
	background: @hover;
	color: @color1;
	text-decoration: none;
}

#schedule h5 {
	margin-bottom: 0px;
}



// fix red on bad email
input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus {
	box-shadow: none;
	color: @color1;
}

.button, 
input[type=button], 
input[type=submit], 
button {
    border: 0px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    padding: 0.75em 1.5em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: @color2;
    color:@color1;
    cursor: pointer;
    display: inline-block;
}

.button:hover, 
input[type=button]:hover, 
input[type=submit]:hover,
input[type=text]:focus,
input[type=email]:focus, 
button:hover {
    background-color: @gray;
    color:@color1; 
}

button:disabled {
    //background-color: @gray;
    //color:@color1; 
    display: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: @color1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: @color1;
}

input[type=text],
input[type=email],
textarea {
	border-radius: 0px;
	background-color: @color2;
	color:@color1;
    margin: 0.25em;
    padding: 0.75em 1.3em;
    width: 200px;
    border:0px;
}

input[type=text]:focus,
input[type=email]:focus,
button,
textarea {
    border:0px;
    box-shadow: none;
    outline: none;
}



